@media print {
  #header, #center {
    margin: 0;
    color: #000
    background-color: #fff;
  }

  #center {
    font-size: 1.25em;
  }

  img, #sidebar, #footer {
    display: none;
  }

  a::after{
    content: " (" attr(href) ") ";
  }
}